:root {
        --primaryColor: #0E0D0C;
        --secondaryColor: #171819;
        --mainColor: #E4C590;
}
body {
        background-color: var(--secondaryColor);
        overflow-x: hidden;
}
body.no-scroll {
        overflow: hidden;
}
.cursorPointer:hover {
        cursor: pointer;
}
.mainColor {
        color: var(--mainColor);
}
.mainBgColor {
        background-color: var(--mainColor);
        background: var(--mainColor);
}
*::selection {
        background-color: var(--mainColor);
        color: black;
}
