:root {
        --primaryColor: #0E0D0C;
        --secondaryColor: #171819;
        --mainColor: #E4C590;
}
body {
        background-color: var(--secondaryColor);
        overflow-x: hidden;
}
.progressBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px !important;
        z-index: 99999;
}
.progressBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 6px;
        background-color: var(--mainColor);
        border-radius: 0 15px 15px 0;
}
body.no-scroll {
        overflow: hidden;
}
.cursorPointer:hover {
        cursor: pointer;
}
.mainColor {
        color: var(--mainColor);
}
.mainBgColor {
        background-color: var(--mainColor);
        background: var(--mainColor);
}
*::selection {
        background-color: var(--mainColor);
        color: black;
}
::-webkit-scrollbar {
        width: 14px;
        background-color: transparent;
        border-radius: 10px;
}
::-webkit-scrollbar-thumb {
        background-color: var(--mainColor);
        border-radius: 10px;
}